@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var listFeatureRooms = (List<Model.VIEWMODEL.PHONG_VIEWMODEL>)ViewBag.FeatureRooms;
}

@section bannerinfo
{
    <div class="banner">
        <div class="banner-info">
            <div class="container">
                <div class="details-1">
                    <div class="col-md-10 dropdown-buttons">
                        <div class="col-md-3 dropdown-button">
                            <div class="input-group">
                                <input class="form-control has-dark-background" name="slider-name" id="slider-name" placeholder="Name" type="text" required="">
                            </div>
                        </div>
                        <!---strat-date-piker---->
                        <link rel="stylesheet" href="/Assets/Client/css/jquery-ui.css" />
                        <script src="/Assets/Client/js/jquery-ui.js"></script>
                        <script>
                            $(function () {
                                $("#datepicker,#datepicker1").datepicker();
                            });
                        </script>
                        <!---/End-date-piker---->

                        <div class="col-md-3 dropdown-button">
                            <div class="book_date">
                                <form>
                                    <input class="date" id="datepicker" type="text" value="Check In" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Check In';}">
                                </form>
                            </div>
                        </div>
                        <div class="col-md-3 dropdown-button">
                            <div class="book_date">
                                <form>
                                    <input class="date1" id="datepicker1" type="text" value="Check Out" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Check Out';}">
                                </form>
                            </div>
                        </div>
                        <div class="col-md-3 dropdown-button">
                            <div class="section_1">
                                <select id="country" onchange="change_country(this.value)" class="frm-field required">
                                    <option value="null">Double Room</option>
                                    <option value="null">Single Room</option>
                                    <option value="AX">Vip Room</option>
                                </select>
                            </div>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="col-md-2 submit_button">
                        <form action="/Home/SearchRooms">
                            <input type="submit" value="Search">
                        </form>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
        </div>
    </div>
}

@section hod
{
    <!-- hod -->
    <div class="container">
        @foreach (var item in listFeatureRooms)
        {
            <div class="hod">
                <div class="col-md-6 single-left">
                    <a href="@item.Href"><img src="@item.Picture" class="img-responsive" alt=""></a>
                </div>
                <div class="col-md-6 single-right">
                    <h3><a href="details.html">@item.TenPhong</a></h3>
                    @item.ThongTin
                    <div class="sinbt">
                        <a class="hvr-shutter-in-horizontal" href="@item.Href">Đặt ngay</a>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        }
    </div>
}