@{
    ViewBag.Title = "ListRooms";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var listRooms1 = (List<Model.VIEWMODEL.PHONG_VIEWMODEL>)ViewBag.ListRooms1;
    var listRooms2 = (List<Model.VIEWMODEL.PHONG_VIEWMODEL>)ViewBag.ListRooms2;
    var listRooms3 = (List<Model.VIEWMODEL.PHONG_VIEWMODEL>)ViewBag.ListRooms3;
}

@section listrooms
{
    <!-- tels -->
    <div class="tels">
        <div class="container">
            <h1>PHÒNG ĐƠN</h1>
            <br />
            @foreach (var item in listRooms1)
            {
                <div class="col-md-4 tels-left">
                    <h4>@item.TenPhong<span> @item.DonGia</span><span>đ</span></h4>
                    <img src="@item.Picture" class="img-responsive" alt="">
                    <p>@item.ThongTin</p>
                    <a class="hvr-shutter-in-horizontal" href="@item.Href">Đặt ngay</a>
                </div>
            }
            <div class="clearfix"></div>
        </div>
        <div class="container">
            <br />
            <br />
            <h1>PHÒNG ĐÔI</h1>
            <br />
            @foreach (var item in listRooms2)
            {
                <div class="col-md-4 tels-left">
                    <h4>@item.TenPhong<span> @item.DonGia</span><span>đ</span></h4>
                    <img src="@item.Picture" class="img-responsive" alt="">
                    <p>@item.ThongTin</p>
                    <a class="hvr-shutter-in-horizontal" href="@item.Href">Đặt ngay</a>
                </div>
            }
            <div class="clearfix"></div>
        </div>
        <div class="container">
            <br />
            <br />
            <h1>PHÒNG VIP</h1>
            <br />
            @foreach (var item in listRooms3)
            {
                <div class="col-md-4 tels-left">
                    <h4>@item.TenPhong<span> @item.DonGia</span><span>đ</span></h4>
                    <img src="@item.Picture" class="img-responsive" alt="">
                    <p>@item.ThongTin</p>
                    <a class="hvr-shutter-in-horizontal" href="@item.Href">Đặt ngay</a>
                </div>
            }
            <div class="clearfix"></div>
        </div>
    </div>
    <!-- tels -->
}